*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#maindiv{
    height: 518px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}
#subdiv{
    height: 518px;
    width: 98%;
    background-image: url("https://c1.wallpaperflare.com/preview/10/348/62/binary-code-binary-binary-system-byte.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 600px;
    padding-top: 200px;
}
#s2{
    height: 60px;
    width: 250px;
    /* background-image: url("https://static.vecteezy.com/system/resources/previews/010/518/840/original/digital-finance-and-banking-service-in-futuristic-background-bank-building-with-online-payment-transaction-secure-money-and-financial-innovation-technology-vector.jpg"); */
    position: relative;
    background-color: aliceblue;
    left: -59px;
    top: -10px ;
    display: flex;
    margin-top: 5px;
    align-items: center;
}
#l11{
    height: 60px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://static.vecteezy.com/system/resources/previews/010/518/840/original/digital-finance-and-banking-service-in-futuristic-background-bank-building-with-online-payment-transaction-secure-money-and-financial-innovation-technology-vector.jpg");
}
#l11>img{
    height: 90%;
    width: 90%;
}
#l2{
    height: 60px;
    width: 200px;
    background-image: url("https://static.vecteezy.com/system/resources/previews/010/518/840/original/digital-finance-and-banking-service-in-futuristic-background-bank-building-with-online-payment-transaction-secure-money-and-financial-innovation-technology-vector.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}
#l2>a{
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: antiquewhite;
}